.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    
}

@media (max-width:300px) {
    .card {
      flex-basis: 100%; /* Cuando el ancho de la tarjeta sea menor a 300px, se colocarán una debajo de la otra */
    }
  }

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    height: auto;
    text-align: center;
    align-items: center;
    width: 30%;
    min-width: 15%;
    color: rgb(35, 35, 163);
}


.tituloContacto{
    color:white;
}

.botonEnviar{
    width: 80%;
    height: 50px auto;
    border-radius: 10px;
    border-color: rgb(35, 35, 163);
    background-color: rgb(35, 35, 163);
    color: white;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: 20px;
    font-size: larger;
}

.redesSociales{
    margin: 10px;
}

.iconoRedSocial{
    margin: 10px;
    color: rgb(35, 35, 163);
}

.iconoGrande{
    margin: 20px;
}

.barra{
    width: 80%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.contenido{
    color:white;
    display: inline;
    align-items: center;
}

.lista{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    color: rgb(35, 35, 163);
}

.tituloPoliticas{

}

.politicas{

}

.numeros{
    margin-top: auto;
    margin-bottom: 20px;
}